# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Vim swap file
*.swp

# Ignore pts files because they are big
*.pts
*.json

#data directory (too big to include)
data/

#backup file
*~

#executable file
test_octree

#ctags output
tags

#octopus file (output from serializing the octree in C++)
*.octopus
